<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandarin Oriental</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel = "icon" href = "https://www.flaticon.com/svg/vstatic/svg/608/608912.svg?token=exp=1611865947~hmac=b560a7c250247c8ef38cf9dde06b9535" type = "image/png">
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <--! end head-->

<header class="headerest">
    <a href="#header" class="logo1" style="font-family:Lucida Handwriting;">Mandarin Oriental</a>
    <div class ="menu-toggle"></div>
    <nav>
        <ul>
            <li><a href="#header">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#rooms">Booking</a></li>
            <li><a href="#customers">Customers</a></li>
            <li><a href="static\Login\index.html">Login</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.menu-toggle').click(function(){
        $('.menu-toggle').toggleClass('active')
        $('nav').toggleClass('active')
    })
})
</script>
<--! footer -->
<footer>
<div class="container">
    <div class="sec aboutus">
        <h2 class="foot">About Us</h2>
        <p>One of the most luxurious hotels in the Middle East, it contains many rooms.<br>
            A restaurant and a gym.<br>
            With many services.<br>
            located in the center of the country.</p> <br>
        <ul class="social">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
        <h2 class="foot">Quick Links</h2>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Terms & Consitions</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="sec contact">
    <h2 class="foot">Contact Info</h2>
    <ul class="info">
        <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <span>12 Sidi Gaber ST<br>
            Alexandria<br>Egypt</span></li><br>

         <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>
             +2001003405064</li><br>

            <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span>amgad123@gmail.com</span></li>


        </ul>

    </div>
      <div class="copy">
    <p>Copyright &copy; 2021 Online Totorials. All Rights Reserved &reg; </p>
    </div>
</div>

    </footer>
    <!-- end of footer -->