



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfort Hotel</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href=" css/room_list1.css}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


    <!-- Main Content -->
    <div class="content">
      
        <a href="room/Deluxe" class="room">
            <div>
         
            
                <img
                    src="https://pix6.agoda.net/hotelImages/178523/-1/de3456e8ab6cb4c5c600d96bd034107d.jpg?s=1024x768"height="258px">

                <h2>Deluxe Suite</h2>
                <h3>Room For Couble and It has air conditioning</h3>
            </div>
        </a>


    <a href="room/Double" class="room">
        <div>  
                <img
                    src="https://pix6.agoda.net/hotelImages/178523/-1/1ae980d3424892827e1f15d573ab4ce6.jpg?s=1024x768"height="258px">

                 <h2>Double Room</h2>
                <h3>Room For 2 persons and It has air conditioning</h3>
        </div>
    </a>
       

    <a href="room/Single" class="room">
            <div>
           
                <img
                    src="https://pix6.agoda.net/hotelImages/178523/-1/de3456e8ab6cb4c5c600d96bd034107d.jpg?s=1024x768"height="258px">

                <h2>Single Room</h2>
                <h3>Room For one person and It has air conditioning</h3>
        </div>
    </a>
        
        <a href="room/Non-Conditioner" class="room">    
            <div> 
           <img
                    src="https://pix6.agoda.net/hotelImages/245/2453887/2453887_17070314320054219344.jpg?s=1024x768"height="258px">

                <h2>Non-Conditioner</h2>
                <h3>Room For 3 persons and It has air conditioning</h3>
            </div>
        </a>

        <a href="room/Conditioner" class="room">
             <div>            
                <img
                    src="https://pix6.agoda.net/hotelImages/178523/-1/de3456e8ab6cb4c5c600d96bd034107d.jpg?s=1024x768" height="258px">

                <h2>Conditioner</h2>
                <h3>Room For one person and It has air conditioning</h3>
            </div>
        </a>

        <a href="room/Non-Conditioner" class="room">
            <div>               
                    <img
                        src="https://pix6.agoda.net/hotelImages/178523/-1/1ae980d3424892827e1f15d573ab4ce6.jpg?s=1024x768"height="258px">
    
                    <h2>Non-Conditioner</h2>
                    <h3>Room For 2 persons and It has air conditioning</h3>
                </div>
            </a>

            

    </div>
    
</body>

</html>